* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

/* Added by Ricky */

html,body {
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5}

html {
  overflow-x:hidden
}

a {
  color: inherit;
}

/******************************************************** 
                MAIN PAGE TOP NAV BARS 
********************************************************/
.nav-bar-red {
  overflow: hidden; 
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #fff!important; 
  background-color: rgb(255, 51, 0)!important
}

.nav-bar-pink {
  overflow: hidden; 
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #fff!important; 
  background-color: rgb(239, 22, 177)!important
}

.second-nav-button {
  color: inherit;
  background-color: inherit;
  white-space: normal;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  cursor: pointer;
  box-sizing: border-box;
}

.second-nav-button:hover {
  color:#000!important;
}

.hamburger_icon {
  display: none;
}

.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.nav_bar_logo {
  float: left;
  padding-left: 5%;
  padding-top: 0%;
}

.nav_bar_text {
  padding-top: 10px;
}

.navbar img {
  width: 50px;
}

.navbar a {
  float: right;
  font-size: inherit;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 0px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: inherit;  
  border: none;
  outline: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:rgb(255, 51, 0)!important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/******************************************************** 
                       SLIDESHOW 
********************************************************/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Caption text */
.text_club_title {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-family:"Segoe UI", Arial, sans-serif;
  letter-spacing: 6px;
}

.slideshow_img_height {
  height: 600px;
}

.merch_img_height {
  height: 400px; 
}

.img_height_poster {
  height: 500px;
}

.img_height_schedule {
  height: 400px;
}


.img_height_coaches {
  height: 300px;
}

.text_slogan {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/******************************************************** 
                       NEWS SLIDER 
********************************************************/
.headline_bottom_color {
  color:#fff!important;
  background-color:#000!important;
}

.text_headline {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  text-align: center;
}

/******************************************************** 
                         GENERAL
********************************************************/
.justify {
  text-align:justify!important
}

.img_border {
  border: 5px solid #555;
}

.general_title {
  color: rgb(255, 51, 0);
  font-size: 30px;
  text-align: center;
  font-family:"Segoe UI", Arial, sans-serif;
  letter-spacing: 4px
}

.pink_font {
  color:rgb(239, 22, 177)
}

.red_font {
  color:rgb(255, 0, 0)
}

.gen_paragraph_text {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.orange_text {
  color: rgb(255, 51, 0);
}

.gen_opacity,.gen_opacity:hover {
  opacity:0.60;
}

html {
  scroll-behavior: smooth;
}

/******************************************************** 
                     MAIN PAGE: INTRO
********************************************************/
.intro_paragraph {
  padding-left: 20%; 
  padding-right: 20%;
}

/******************************************************** 
           MAIN PAGE: WHAT MAKES US DIFFERENT
********************************************************/
.light-gray,.hover-light-gray:hover {
  color:#000!important;
  background-color:#f1f1f1!important
}

.button {
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(59, 58, 58); 
  width: 200px;
  height: 50px;
}

.button:hover {
  background-color: #585858;
  color: rgb(255, 51, 0);
}

.button2 {
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(59, 58, 58); 
  width: 200px;
  height: 50px;
}

.button2:hover {
  background-color: #585858;
  color: rgb(255, 51, 0);
}

.no_top_pad {
  padding-top: 0%;
}

/******************************************************** 
                          OUR GYM
********************************************************/
.gym_image {
  text-align: right;
}

/******************************************************** 
                      DEV LEAGUE REG
********************************************************/
.reg_input {
  background-color: rgb(236, 236, 236); 
  width: 100%;
}

.hidden {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/******************************************************** 
                          FOOTER
********************************************************/
.black_container,.hover-black_container:hover {
  color:#fff!important;
  background-color:#000!important
}

.footer_icon_sz {
  font-size: 35px!important;
  padding: 15px!important
}

.footer {
  position:fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer_dynamic {
  width: 100%;
  left: 0;
  bottom: 0;
}

/******************************************************** 
                     IPAD ADJUSTMENTS 
********************************************************/
@media only screen and (max-width: 1024px) {
  .text_club_title {
    font-size: 26px;
    letter-spacing: 3px
  }

  .general_title {
    font-size: 20px;
    letter-spacing: 3px
  }

  .gen_paragraph_text {
    font-size: 14px;
  }

  .intro_paragraph {
    padding-left: 5%; 
    padding-right: 5%;
  }

  .text_slogan {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
  }

  .footer_dynamic {
    position:fixed;
  }

  .nav-bar-black {
    padding-left: 5%;
  }

  .footer_icon_sz {
    font-size: 14px;
    padding: 2px
  }
  
  .slideshow_img_height {
    height: 400px;
  }

  .img_height_poster {
    height: 400px;
  }

  .img_height_schedule {
    height: 200px;
  }

  .merch_img_height {
    height: 400px;
  }

}
/******************************************************** 
                   IPHONE ADJUSTMENTS 
********************************************************/
@media only screen and (max-width: 425px) {
  .text_club_title {
    font-size: 11px;
    letter-spacing: 2px
  }

  .general_title {
    font-size: 15px;
    letter-spacing: 3px
  }

  .gen_paragraph_text {
    font-size: 10px;
  }

  .intro_paragraph {
    padding-left: 0%; 
    padding-right: 0%;
  }

  .text_slogan {
    color: #f2f2f2;
    font-size: 7px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
  }

  .footer_icon_sz {
    font-size: 20px!important;
    padding: 5px!important;
  }
  
  .hamburger_icon {
    display: block;
    float: right;
    width: auto;
    text-align: right;
    padding-right: 10%;
    font-size: 30px!important;
  }

  #myLinks{
    display: none;
  }

  .nav_bar_text{
    display: none;
  }

  .nav_item {
    width: 100%;
    text-align: left!important;
    padding-left: 3%!important;
  }

  .dropdown {
    width: 100%;
    text-align: left!important;
    padding-left: 3%!important;
  }

  .button {
    font-size: 12px;
    background-color: rgb(59, 58, 58); 
    border: 2px solid #000;
    width: 130px;
    height: 35px;
  }

  .button2 {
    font-size: 12px;
    background-color: rgb(59, 58, 58); 
    border: 2px solid #000;
    width: 90px;
    height: 40px;
  }

  .slideshow_img_height {
    height: 200px;
  }

  .img_height_poster {
    height: 200px;
  }

  .img_height_schedule {
    height: 115px;
  }

  .img_height_coaches {
    height: 125px;
  }

  .merch_img_height {
    height: 200px;
  }

}  

